{% extends 'base-admin.html' %}

{% load staticfiles %}

{% block content %}
<div>
    <form id="form_reason_refuse" action="{% url 'liseadmin:accept-request' req_id %}" method="POST">
        {% csrf_token %}

        <fieldset class="module aligned  module_0 initialized">
            <div class="form-row field-name">
                <div class="select2 select2-container select2-container--jet">
                    {{ form }}
                </div>
            </div>
        </fieldset>
        <div class="submit-row">
            <div class="object-tools initialized">
                <button type="submit" class="button font-large center" title="Enviar a categoria da solicitação aceita" >Aceitar</button>
            </div>
        </div>
    </form>
</div>

{% endblock %}