{% extends 'base.html' %}

{% load staticfiles %}

{% block body %}

    <section id="sectionsidebar" data-item="{{ item }}" data-subitem="{{ subitem }}">
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar" >
            <div class="menu">
                <ul class="list">
                    <li class="header bg-blue-grey">MODO DE VISUALIZAÇÃO</li>
                    <li id='all'>
                        <a href="{% url 'liseapp:dashboard-details' plan.id %}">
                            <i class="material-icons">border_all</i>
                            <span>Todos</span>
                        </a>
                    </li>
                    <li id="topics">
                        <a href="#" class="menu-toggle">
                            <i class="material-icons">storage</i>
                            <span>Tópicos</span>
                        </a>
                        <ul class="ml-menu">
                            <li id="toptopics">
                                <a href="{% url 'liseapp:top-topics' plan.id %}" >
                                    <span>Principais Tópicos</span>
                                </a>
                            </li>
                            <li id="polaritytopics">
                                <a href="{% url 'liseapp:polarity-topics' plan.id %}">
                                    <span>Polaridade dos Tópicos</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="operating">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">schedule</i>
                            <span>Funcionamento</span>
                        </a>
                        <ul class="ml-menu active">
                            <li id="operatingdays">
                                <a href="{% url 'liseapp:operating-days' plan.id %}">
                                    <span>Dias de Funcionamento</span>
                                </a>
                            </li>
                            <li id="operatinghours">
                                <a href="{% url 'liseapp:operating-hours' plan.id %}">
                                    <span>Horário de Funcionamento</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="maps">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">map</i>
                            <span>Mapas</span>
                        </a>
                        <ul class="ml-menu active">
                            <li id="competitionregions">
                                <a href="{% url 'liseapp:competition-regions' plan.id %}">
                                    <span>Regiões de Concorrência</span>
                                </a>
                            </li>
                            <li id="sublocations">
                                <a href="{% url 'liseapp:sublocations' plan.id %}">
                                    <span>Sublocais de Concorrência</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="business">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">business</i>
                            <span>Concorrentes</span>
                        </a>
                        <ul class="ml-menu active">
                            <li id="rankingbusiness">
                                <a href="{% url 'liseapp:ranking-business' plan.id %}">
                                    <span>Ranking</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="review">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">comment</i>
                            <span>Avaliação</span>
                        </a>
                        <ul class="ml-menu active">
                            <li id="competitoropinions">
                                <a href="{% url 'liseapp:competitor-opinions' plan.id %}">
                                    <span>Opiniões Sobre Concorrentes</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="contact">
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">call</i>
                            <span>Contato</span>
                        </a>
                        <ul class="ml-menu active">
                            <li id="means">
                                <a href="{% url 'liseapp:means-contact' plan.id %}">
                                    <span>Meios de contato</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="legal">
                <div class="copyright">
                    &copy; 2017 <a href="javascript:void(0);"> Nayara Silva - IFPI</a>.
                </div>
                <div class="version">
                    <b>Version: </b> 1.0.0
                </div>
            </div>
            <!-- #Footer -->
        </aside>
         <!--#END# Left Sidebar-->
    </section>

    {% block dashboard %}

    {% endblock %}

{% endblock %}